@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.wireframe, .wireframe * {
    outline: 1px dashed red;
}

.top-actionbar{
    padding: 8px 0px 10px 0px;
    border-bottom: 1px inset grey;
}

.device-article {
    padding-top: 10px;
    margin-bottom:15px;
}